body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	/*background-image: url(signup.jpg);
	background-size: cover;
	background-position: center;*/
	background-color: white;
}

.sign-up-form{
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;
	background-color: rgb(243,245,249);
}

.sign-up-form h1{
	color: #4b4276;
	margin-bottom: 30px;
}

.input-box{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #999;
	outline: none;
}

button{
	background-color: #4b4276;
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}

a{
	text-decoration: none;
}

hr{
	margin-top: 20px;
	width: 100%;
}

.or{
	background: #fff;
	width: 30px;
	margin: -14px auto 10px;
	background-color: rgb(243,245,249);
}